# Gradle files
.gradle/
build/
output-metadata.json

# Local configuration
local.properties

# Log/OS Files
*.log
.DS_Store

# Android Studio & IntelliJ
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Native Builds
.externalNativeBuild/
.cxx/

# Captures
captures/

# Artifacts
*.aab
*.apk

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof
