<?xml version="1.0" encoding="utf-8"?>
<!--
    AndroidManifest.xml
    This file tells Android how to launch your app and what components (activities, services, etc.) exist.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.AppWizards.QuickQuoteHail">

    <!--
        The <application> tag wraps all app components.
        You define your theme, icon, and the screens (activities) here.
    -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppWizards_QuickQuoteHail"> <!-- Corrected theme name -->

        <!--
            Main Activity (New Launcher Screen)
            This is the first screen the user sees when they open the app.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Tells Android this activity is the entry point (app launcher) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity (no longer the launcher by default) -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- Set to false as it's not a direct launcher anymore -->

        <!-- RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- ActivityCalculator -->
        <activity
            android:name=".ActivityCalculator"
            android:exported="false" />

        <!-- ActivityInvoice (History Screen) -->
        <activity
            android:name=".ActivityInvoice"
            android:exported="false" />

    </application>

</manifest>
